<link rel="stylesheet" href="/css/home.css">

<section id="feed-posts">

    <!-- we should display form to create post only when user is logged in -->
    <% if(locals.user) { %>
        <form action="/posts/create" method="post" id="new-post-form" enctype="multipart/form-data">
            <textarea name="content" cols="30" rows="3" placeholder="What's new Today? Share some post..."></textarea>
            <div class="post-options">
                <input type="file" name="file">
                <input type="submit" value="Post">
            </div>
        </form>
        <% } %>

            <ul id="posts-list">
                <% for(let post of posts){ %>

                    <%- include('_post', {post: post}) %>

                <% } %>
            </ul>
</section>

<!-- Friends list -->
<aside id="friends-list">
    <% if(locals.user){ %>
    <% for(let user of all_users) { %>
        <p>
            <a href="/users/profile/<%= user._id %>">
                <img src="<%= user.avatar %>" alt="" width="20" height="20" style="vertical-align: top;"> 
                <%= user.name %>
            </a>
        </p>
    <% } %>
    <% } %>
</aside>