<link rel="stylesheet" href="/css/reset-password.css">

<h2 class="warning">!!! If you are a new user and have Signed Up using Google, then Please Reset your password !!!</h2>
<h2 class="home-link"><a href="/">Click here to go to Home Page if you are not a new User</a></h2>

<form action="/users/update-password" method="POST">
    <h1>Reset Password</h1>
    <input type="email" name="email" placeholder="Enter Username/Email">
    <input type="password" name="new_pass" placeholder="Enter new Password">
    <input type="text" name="confirm_pass" placeholder="Confirm Password">
    <button type="submit">Reset Password</button>
</form>