<link rel="stylesheet" href="/css/sign-in.css">



<form action="/users/create-session" method="POST">

    <h1>Sign-In Form</h1>

    <div id="google-login">
        <h2><a href="/users/auth/google">Click here to Sign-In using Google</a></h2>
    </div>

    <input type="email" id="email" name="email" placeholder="Enter Username/Email" required>
    
    <input type="password" id="pass" name="password" placeholder="Enter password..." required>

    <button type="submit">Sign-In</button>
</form>