h1{
    text-align: center;
}

#feed-posts{
    width: 69%;
    display: inline-block;   
}

#friends-list{
    width: 28%;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border-left: 1px solid grey;
}