#google-login{
    width: 40%;
    margin: auto;
    border-radius: 20px;
    height: 4rem; 
    padding: 1rem;
    
    h2 a{
        color: blue;
        text-decoration: none;  
    }
    h2 a:hover{
        color: darkgrey;
    }
}
form{
    width: 60%;
    margin: auto;
    margin-top: 3rem;
    background: linear-gradient(rgb(247, 212, 148), rgb(238, 178, 238));
    padding: 1rem;
    border-radius: 20px;

    h1{
        font-size: 2.2rem;
        padding: 0.7rem;
        color: purple;
        text-align: center;
        margin: auto;
        width: 250px;
        border-radius: 20px;
        background-color: rgb(219, 203, 203);
    }

    input, button{
        display: block;
        border-radius: 10px;
        padding: 7px;
        color: darkgrey;
    }
    input{
        width: 90%;
        margin: 15px auto;
        height: 2rem;
        font-size: 1.3rem;
    }
    button{
        width: 20%;
        margin: 15px auto;
        font-size: 1.5rem;
    }
}
