h1 {
  text-align: center; }

#feed-posts {
  width: 79%;
  display: inline-block; }
  #feed-posts #new-post-form {
    box-sizing: border-box;
    margin: 20px auto;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e1d0e1;
    border-radius: 10px;
    color: darkgrey; }
    #feed-posts #new-post-form textarea {
      box-sizing: border-box;
      font-size: 1.2rem;
      padding: 15px;
      width: 100%;
      display: block;
      height: 150px;
      border-radius: 10px; }
    #feed-posts #new-post-form .post-options {
      width: inherit; }
      #feed-posts #new-post-form .post-options input {
        font-size: 1.1rem;
        margin: 10px;
        color: darkgrey; }

#friends-list {
  width: 18%;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 10px;
  border-left: 1px solid grey; }

#posts-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  #posts-list .post {
    width: 300px;
    height: 500px;
    margin: 20px;
    background-color: #c79bc6;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px; }
    #posts-list .post .post-container .post-user {
      display: inline-block;
      margin-top: 5px;
      font-size: 1.3rem;
      padding-left: 10px;
      color: white; }
      #posts-list .post .post-container .post-user img {
        width: 35px;
        height: 30px;
        border-radius: 50%; }
    #posts-list .post .post-container .post-content {
      padding: 10px;
      height: 250px;
      margin: 10px;
      background-color: white;
      border-radius: 10px; }
    #posts-list .post .delete-post {
      position: absolute;
      display: block;
      bottom: 5px;
      left: 10px;
      border: 1px solid white;
      border-radius: 10px;
      padding: 5px;
      width: 270px;
      text-align: center;
      font-size: 1.3rem;
      background-color: #f57b8f;
      color: white;
      text-decoration: none; }
    #posts-list .post .delete-post:hover {
      background-color: red; }
